* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.sthead {
    background-color: rgb(3, 3, 64);
    color: white;
    text-align: left;
    display: none;
}

.infos {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.st {
    display: flex;
    gap: 5px;
}

.nd {
    display: flex;
}

.rd {
    display: flex;
    gap: 5px;
}

.infos i {
    margin-top: 5px;
}

.container-fluid {
    background-color: rgb(178, 175, 175);
    margin-top: -10px;
}

.container-fluid img{
  width: 70%;
}

.dropdown-menu {
    background-color: rgba(231, 228, 228, 0.529);
    text-transform: uppercase;
    border-radius: 10px;
}

.bottom {
    padding: 20px;
    background-color: rgb(38, 38, 38);
}

.b1 h6 {
    color: green;
    border-bottom:   #575757 solid 1px;
    padding: 10px;
}

.b1 a {
    display: block;
    text-decoration: none;
    color: rgb(148, 146, 146);
    border-bottom:  #575757 solid 1px;
    padding: 5px;
}

.bottom a:hover {
    color: white;
}

.questions {
    margin-top: 2rem;
}

.questions h6 {
    color: green;
    padding: 10px;
}

.questions p {
    color:rgb(148, 146, 146);
}

.questions a {
    text-decoration: none;
}

.questions a :hover {
    color: white;
}

.paramount h6{
    color: green;
    padding: 10px;
}

.paramount p {
    color:rgb(148, 146, 146);
}

.bform label {
    color: green;
    margin-bottom: 3px;
}

.bform button {
    border:  rgb(38, 38, 38) solid 1px ;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.bottomend {
    background-color: black;
    text-align: center;
    padding: 1rem;
    height: 20vh;
}


.bendt p {
    color: whitesmoke;
    bottom: 0;
    top: 0;
    margin-top: 1rem;
}


@media (min-width : 768px) {
    .sthead {
        background-color: rgb(3, 3, 64);
        color: white;
        text-align: left;
        display: block;
    } 
    
    .infos {
        display: flex;
        gap: 20px;
        padding: 10px;
    }
    
    .st {
        display: flex;
        gap: 5px;
    }
    
    .nd {
        display: flex;
        gap: 5px;
    }
    
    .rd {
        display: flex;
        gap: 5px;
    }
    
    .infos i {
        margin-top: 5px;
    }

    .b-cont {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        gap: 2rem;
        padding: 20px;
    }

    .b1 {
        width: 100%;
    }

    .questions {
        width: 100%;
        margin-top: -1px;
        margin-left: 20px;
    }

    .paramount {
        width: 100%;
    }

    .bform {
        width: 100%;
        margin-top: 13px;
    }

    .b-cont p {
        font-size: 13px;
    }
    
    .bform button {
        border:  rgb(38, 38, 38) solid 1px ;
        padding: 10px;
        width: 50%;
        border-radius: 5px;
    }


}